.git/
.github/
.venv/
.vscode/
.pytest_cache/
.coverage
.coverage.*
.ty/
.ruff_cache/
.env
.env.*

__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
htmlcov/
coverage.xml
results.xml
site/

docs/
tests/

.editorconfig
.gitattributes
.gitignore
.pre-commit-config.yaml
CHANGELOG.md
LICENSE
mkdocs.yml
