# SPDX-FileCopyrightText: {{ copyright_year }} {{ copyright_holder }}
#
# SPDX-License-Identifier: AGPL-3.0-or-later

"""{{ project_name }}."""

from importlib.metadata import version

__version__ = version("{{ project_name }}")
